/* ============================================================================================
/** Helpers
=============================================================================================== */

.title {
    color: $color-secondary;
    font-family: $font-secondary;
    font-size: 1.125rem;
    letter-spacing: 0.15rem;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    padding-left: 1rem;

    &::before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 100%;
        background: $color-secondary;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.text-grey { color: $grey !important; }