/* ============================================================================================
/** Footer Styles
=============================================================================================== */

.main-footer {
    background: $color-1;
    
    &__brand-link {
        color: $white;

        &:hover {
            text-decoration: none;
            color: $color-4;
        }
    }

    &__copyrights {
        color: $color-3;
    }
}