// ============================================================================
// Site defaults
// ============================================================================

// ============================================================================
// Basic Color Pallete
$color-primary: #687864;

$color-1: #5085a5;
$color-2: #8fc1e3;
$color-3: $color-primary;
$color-4: #31708e;
$color-5: #f7f9fb;