// Declaring Bootstrap core files here
// so that it is available globally
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";


// ============================================================================
// Utilities - Variable file along with starting point Mixins, Helpers and Placeholders.
// ============================================================================

@import "utilities/fonts";
@import "utilities/variables";
// @import "utilities/global";
// @import "utilities/functions";
@import "utilities/mixins";
@import "utilities/breakpoint-mixins";
@import "utilities/helpers";


// ============================================================================
// Base - Site defaults
// ============================================================================

// @import "base/bootstrap-overrides";
@import "base/default-style";


// ============================================================================
// Layout
// ============================================================================

@import "layout/resume-header";
// @import "layout/main-content";
@import "layout/resume-footer";  
   

// ============================================================================
// Components
// ============================================================================

@import "components/profile";
@import "components/content";
@import "components/content-jobs";
@import "components/content-project";
@import "components/skill";
@import "components/education";
@import "components/awards";
@import "components/buttons";


// ============================================================================
// Pages
// ============================================================================