/* ============================================================================================
/** Footer Styles
=============================================================================================== */

.main-footer {
    background: $color-1;
    
    &__brand-link {
        color: $white;

        &:hover {
            text-decoration: none;
            color: darken($color-4, 10%);
        }
    }

    &__copyrights {
        color: $color-5;
    }
}