/* ============================================================================================
/** Creatives Styles
=============================================================================================== */

.creatives {
    margin: 1em 0;

    @include tabletUp {
        margin: 3em 0;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 0;
        color: $white;
        text-align: center;

        @include desktopUp {
            text-align: left;
        }
    }

    &__subtitle {
        color: $grey;
        text-align: center;
        text-transform: uppercase;
        font-family: $font-primary;
        font-size: 1.25rem;
        letter-spacing: 1px;
        margin: 1em 0;

        @include desktopUp {
            text-align: left;
        }
    }

    &__content {
        background-color: $black;
        padding: 2em 0.5em;

        @include tabletUp {
            padding: 2em;
        }

        @include desktopUp {
            padding: 8em 1em 3em 1em;
            min-height: $creatives-height;
        }
    }

    &__images {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__img {
        width: 30%;
    }

    &__texts {
        margin-top: 1em;

        @include desktopUp {
            padding: 3em 1em;
            min-height: $creatives-height;
        }
        
        @include widescreenUp {
            padding: 5em 1em;
        }
    }

    &__subcontent {
        padding: 1em 0.5em;

        @include desktopUp {
            padding: 8em 1em 3em 1em;
            min-height: $creatives-height;
        }
    }

    &__subcontent &__title {
        color: $black;
    }

    &__subimg {
        padding: 1em;

        @include desktopUp {
            min-height: $creatives-height;
        }
    }

    &__indicators.carousel-indicators {
        bottom: -36px;

        @include desktopUp {
            bottom: 10px;
            margin-left: 30px;
            right: initial;
        }
    }

    &__indicators li {
        background-color: $grey;
    }
}