// ============================================================================
// Site defaults
// ============================================================================

$font-secondary: 'RaySat';

// ============================================================================
// Basic Color Pallete
$color-primary: #8e8d8a;

$color-1: #E7E7E9;
$color-2: #C7C5C8;
$color-3: #707070;