// ============================================================================
// Site defaults
// ============================================================================

// ============================================================================
// Basic Color Pallete
$color-primary: #8e8d8a;

$color-1: #d8c3a5;
$color-2: #e98074;
$color-3: $color-primary;
$color-4: #e85a4f;
$color-5: #EAE7DC;