// Parallax
@mixin parallax-property {
	background: {
	    attachment: fixed;
	    position: center;
	    size: 100% 100%;
	    repeat: no-repeat;
  	}
  min-height: 550px;
}

// Colors
.bg-black { background-color: $black !important; }
.bg-white { background-color: $white !important; }
.bg-bleach { background-color: $bleach !important; }
.text-white { color: $white !important; }
.text-black { color: $black !important; }
.text-dark-grey { color: $color-2 !important; }

.img-cover { object-fit: cover !important; }