/* ============================================================================================
/** Education Styles
=============================================================================================== */

.education {
    &__major {
        color: $black;
        font-size: 1rem;
        margin-bottom: 0;
    }

    &__school {
        margin-bottom: 0;
    }

    &__year {
        color: $grey;
        font-size: 0.8rem;
    }
}