/* ============================================================================================
/** About Styles
=============================================================================================== */

.about {
    background: $color-2;

    &__title {
        color: $color-4;
    }

    &__description {
        color: $color-3;
    }
}