/* ============================================================================================
/** Profession Styles
=============================================================================================== */

.profession {
    &__icon {
        color: $color-3;
    }

    &__icon .fa-code {
        background-color: $color-1;
    }

    &__illusion {
        @include tabletUp {
            background: $color-2;
        }
    }
}