// ============================================================================
// Site defaults
// ============================================================================

// ============================================================================
// Basic Color Pallete
$color-primary: #C5C6C7;

$color-1: #1f2833;
$color-2: #45a29e;
$color-3: $color-primary;
$color-4: #66FCF1;
$color-5: #0b0c10;