// ============================================================================
// Site defaults
// ============================================================================

// ============================================================================
// Basic Color Pallete
$color-primary: #d1d7e0;

$color-1: #4c495d;
$color-2: #564f6f;
$color-3: $color-primary;
$color-4: #802bb1;
$color-5: #2D283e;