/* ============================================================================================
/** Color Config
=============================================================================================== */

.color-config {
    &__trigger {
        background-color: $color-2;
    }

    &__trigger-link {
        color: $color-1;

        &:hover {
            color: $color-1;
        }
    }

    &__content {
        background-color: $color-2;
    }

    &__title {
        color: $color-3;
    }
}