/* ============================================================================================
/** About Styles
=============================================================================================== */

.about {
    background: $color-1;

    &__title {
        color: darken($color-4, 10%);
    }

    &__description {
        color: $color-3;
        color: $white;
    }
}