/* ============================================================================================
/** Creatives Styles
=============================================================================================== */

.creatives {
    &__title {
        color: darken($color-4, 10%);
    }

    &__subtitle {
        color: $color-3;
    }

    &__content {
        background-color: $color-1;
    }

    &__indicators li {
        background-color: $color-3;
    }
}