// ============================================================================
// Site defaults
// ============================================================================

// ============================================================================
// Basic Color Pallete
$color-primary: #123C69;

$color-1: #EDC7B7;
$color-2: #EEE2DC;
$color-3: $color-primary;
$color-4: #AC3B61;