/* ============================================================================================
/** Scroll Up Style
=============================================================================================== */

.scroll-up {
    background-color: $color-4;
    box-shadow: none;

    &::after {
        color: $color-3;
    }
}