/* ============================================================================================
/** Footer Social Media Styles
=============================================================================================== */

.social-media {
    &__item {
        background: $color-3;
    }

    &__link {
        color: $color-4;

        &:hover {
            color: darken($color-4, 5%);
        }
    }
}