/* ============================================================================================
/** About Styles
=============================================================================================== */

.about {
    background: $color-1;

    &__title {
        color: $color-4;
    }

    &__description {
        color: $white;
    }
}