/* ============================================================================================
/** Skills
=============================================================================================== */

.skills {
    background: $color-1;

    &__title {
        color: $color-4;

        @include desktopUp {
            &::after {
                background: $color-3;
            }
        }
    }

    &__design-title,
    &__dev-title {
        color: $color-3;
    }

    &__dev-label {
        color: $color-4;
    }

    &__design-description {
        color: $white;
    }

    &__pie-half {
        border: 0.1em solid $color-4;
    }

    &__pie-label {
        background: $color-2;
        color: $white;

        span {
            color: $white;
        }
    }
}